/* PokemonList.module.css */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
    width: 60%; /* Make the grid take up 60% of the container width */
    margin-left: auto;
    margin-right: auto; /* Center the grid horizontally */
  }
  
  @media (max-width: 768px) { 
    .grid {
      grid-template-columns: 1fr; 
    }
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease; /* Add transition for smooth hover effect */
    overflow: hidden; /* Hide overflowing image on hover */
  }
  
  .card:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
  }
  
  .card img {
    max-width: 80%; 
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
  }
  
  .card:hover img {
    transform: scale(1.1); /* Scale up the image more on hover */
  }