/* Home.module.css */
.favoriteContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-top: 10px;
}

.favoriteHeader {
    display: flex;
    justify-content: space-between; /* Space items apart */
    width: 90%; /* Ensure the header takes the full width */
    padding: 0 20px; /* Optional: Add padding to the sides */
    align-items: center;
}

.favoriteLabel {
    margin: 10px 0px;
    color: #e5e5e5;
}

.clearButton {
    background-color: grey;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    color: #e5e5e5;
}

.left {
    flex: 1;
    text-align: left;
}

.centered {
    flex: 1;
    text-align: center;
}

.right {
    flex: 1;
    text-align: right;
}
